## Data Encoding
### Converting categorical values to numerical data

### 1 - Nominal/OHE Encoding(One hot encoding)

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
## Create a simple DataFrame
df = pd.DataFrame({
    'color' : ['red','blue','green','green','red','blue']
})
df.head(6)

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [7]:
# instance of OneHotEncoder
encoder = OneHotEncoder()

# Perform fit and transform
encoded = encoder.fit_transform(df[['color']]).toarray() 
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [8]:
encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [9]:
pd.concat([df, encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0